{% load static %}
<!doctype html>
<html lang="en" class="bg-flint-bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}Flint{% endblock %}</title>
    {% block extra_head %}

    {% endblock extra_head %}
</head>
<body class="bg-flint-bg text-flint-text">
    {% include 'components/_navbar.html' %}
    {% include 'components/_messages.html' %}
    {% block content %}

    {% endblock content %}
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
